/* SASS Import Files */ /* Body */
/* Header */
/* Logos */
/* Gallery */
/* Skills and Hobbies */
/* Footer */
/* Padding Mixins */
/* Margin Mixins */
/* Height/Width */
/* Link */
/* Header */
/* Text */
/* Containers */
/* Glass */
/* Footer */
/* Borders */
@font-face {
  font-family: "Anakin Mono";
  src: url("../../../assets/fonts/Anakin-Mono/Anakin-Mono.ttf") format("truetype");
  font-weight: normal;
  font-style: normal;
}
@font-face {
  font-family: "Architects Daughter", cursive;
  src: url("../../../assets/fonts/Architects-Daughter/ArchitectsDaughter-Regular.ttf") format("truetype");
  font-weight: normal;
  font-style: normal;
}
@font-face {
  font-family: "Boogaloo", cursive;
  src: url("../../../assets/fonts/Boogaloo/Boogaloo-Regular.ttf") format("truetype");
  font-weight: normal;
  font-style: normal;
}
@font-face {
  font-family: "Charm";
  src: url("../../../assets/fonts/Charm/Charm-Regular.ttf") format("truetype");
  font-weight: normal;
  font-style: normal;
}
@font-face {
  font-family: "Enchanted Land";
  src: url("../../assets/fonts/Enchanted-Land/Enchanted-Land.otf") format("opentype");
  font-weight: normal;
  font-style: normal;
}
@font-face {
  font-family: "Honey";
  src: url("../../assets/fonts/Honey/Honey.ttf") format("truetype");
  font-weight: normal;
  font-style: normal;
}
@font-face {
  font-family: "HoneyBee Regular";
  src: url("../../assets/fonts/Honey-Bee-Reg/HoneyBee-Regular.otf") format("opentype");
  font-weight: normal;
  font-style: normal;
}
@font-face {
  font-family: "Indie Flower";
  src: url("../../../assets/fonts/Indie-Flower/IndieFlower.ttf") format("truetype");
  font-weight: normal;
  font-style: normal;
}
@font-face {
  font-family: "Josefin Sans Regular", sans-serif;
  src: url("../../../assets/fonts/Josefin-Sans/JosefinSans-Regular.ttf") format("truetype");
  font-weight: normal;
  font-style: normal;
}
@font-face {
  font-family: "Ladybug Love Regular";
  src: url("../../../assets/fonts/Ladybug-Love/ladybug-love-demo.regular.otf") format("opentype");
  font-weight: normal;
  font-style: normal;
}
@font-face {
  font-family: "Lobster", cursive;
  src: url("../../../assets/fonts/Lobster/Lobster-Regular.ttf") format("truetype");
  font-weight: normal;
  font-style: normal;
}
/* Love Font (https://www.cufonfonts.com/font/love)*/
@font-face {
  font-family: "Love";
  src: url("../../../assets/fonts/Love/Love.woff") format("woff");
  font-weight: normal;
  font-style: normal;
}
@font-face {
  font-family: "Merriweather Sans Regular", sans-serif;
  src: url("../../../assets/fonts/Merriweather-Sans/MerriweatherSans-Regular.ttf") format("truetype");
  font-weight: normal;
  font-style: normal;
}
/* Peace Child (https://www.1001fonts.com/peacechild-font.html)*/
@font-face {
  font-family: "Peace Child";
  src: url("../../../assets/fonts/Peace-Child/Peace-Child.ttf") format("truetype");
  font-weight: normal;
  font-style: normal;
}
@font-face {
  font-family: "Press Start 2P", cursive;
  src: url("../../../assets/fonts/Press-Start-2P/PressStart2P-Regular.ttf") format("truetype");
  font-weight: normal;
  font-style: normal;
}
@font-face {
  font-family: "Raleway Regular", sans-serif;
  src: url("../../../assets/fonts/Raleway/Raleway-Regular.ttf") format("truetype");
  font-weight: normal;
  font-style: normal;
}
@font-face {
  font-family: "Shadows Into Light", cursive;
  src: url("../../../assets/fonts/Shadows-Into-Light/ShadowsIntoLight-Regular.ttf") format("truetype");
  font-weight: normal;
  font-style: normal;
}
@font-face {
  font-family: "Star Jedi";
  src: url("../../../assets/fonts/Star-Jedi/Star-Jedi.ttf") format("truetype");
  font-weight: normal;
  font-style: normal;
}
@font-face {
  font-family: "Summerbee";
  src: url("../../assets/fonts/Summerbee/Summerbee.ttf") format("truetype");
  font-weight: normal;
  font-style: normal;
}
@font-face {
  font-family: "Ubuntu Regular", sans-serif;
  src: url("../../../assets/fonts/Ubuntu/Ubuntu-Regular.ttf") format("truetype");
  font-weight: normal;
  font-style: normal;
}
/* Padding Mixins */
/* Margin Mixins */
/* Height/Width */
/* Link */
/* Header */
/* Text */
/* Containers */
/* Glass */
/* Footer */
/* Borders */
/* Button */
.button-link {
  padding: 10px;
  text-decoration: none;
}

/* Github Button */
@font-face {
  font-family: "Anakin Mono";
  src: url("../../../assets/fonts/Anakin-Mono/Anakin-Mono.ttf") format("truetype");
  font-weight: normal;
  font-style: normal;
}
@font-face {
  font-family: "Architects Daughter", cursive;
  src: url("../../../assets/fonts/Architects-Daughter/ArchitectsDaughter-Regular.ttf") format("truetype");
  font-weight: normal;
  font-style: normal;
}
@font-face {
  font-family: "Boogaloo", cursive;
  src: url("../../../assets/fonts/Boogaloo/Boogaloo-Regular.ttf") format("truetype");
  font-weight: normal;
  font-style: normal;
}
@font-face {
  font-family: "Charm";
  src: url("../../../assets/fonts/Charm/Charm-Regular.ttf") format("truetype");
  font-weight: normal;
  font-style: normal;
}
@font-face {
  font-family: "Enchanted Land";
  src: url("../../assets/fonts/Enchanted-Land/Enchanted-Land.otf") format("opentype");
  font-weight: normal;
  font-style: normal;
}
@font-face {
  font-family: "Honey";
  src: url("../../assets/fonts/Honey/Honey.ttf") format("truetype");
  font-weight: normal;
  font-style: normal;
}
@font-face {
  font-family: "HoneyBee Regular";
  src: url("../../assets/fonts/Honey-Bee-Reg/HoneyBee-Regular.otf") format("opentype");
  font-weight: normal;
  font-style: normal;
}
@font-face {
  font-family: "Indie Flower";
  src: url("../../../assets/fonts/Indie-Flower/IndieFlower.ttf") format("truetype");
  font-weight: normal;
  font-style: normal;
}
@font-face {
  font-family: "Josefin Sans Regular", sans-serif;
  src: url("../../../assets/fonts/Josefin-Sans/JosefinSans-Regular.ttf") format("truetype");
  font-weight: normal;
  font-style: normal;
}
@font-face {
  font-family: "Ladybug Love Regular";
  src: url("../../../assets/fonts/Ladybug-Love/ladybug-love-demo.regular.otf") format("opentype");
  font-weight: normal;
  font-style: normal;
}
@font-face {
  font-family: "Lobster", cursive;
  src: url("../../../assets/fonts/Lobster/Lobster-Regular.ttf") format("truetype");
  font-weight: normal;
  font-style: normal;
}
/* Love Font (https://www.cufonfonts.com/font/love)*/
@font-face {
  font-family: "Love";
  src: url("../../../assets/fonts/Love/Love.woff") format("woff");
  font-weight: normal;
  font-style: normal;
}
@font-face {
  font-family: "Merriweather Sans Regular", sans-serif;
  src: url("../../../assets/fonts/Merriweather-Sans/MerriweatherSans-Regular.ttf") format("truetype");
  font-weight: normal;
  font-style: normal;
}
/* Peace Child (https://www.1001fonts.com/peacechild-font.html)*/
@font-face {
  font-family: "Peace Child";
  src: url("../../../assets/fonts/Peace-Child/Peace-Child.ttf") format("truetype");
  font-weight: normal;
  font-style: normal;
}
@font-face {
  font-family: "Press Start 2P", cursive;
  src: url("../../../assets/fonts/Press-Start-2P/PressStart2P-Regular.ttf") format("truetype");
  font-weight: normal;
  font-style: normal;
}
@font-face {
  font-family: "Raleway Regular", sans-serif;
  src: url("../../../assets/fonts/Raleway/Raleway-Regular.ttf") format("truetype");
  font-weight: normal;
  font-style: normal;
}
@font-face {
  font-family: "Shadows Into Light", cursive;
  src: url("../../../assets/fonts/Shadows-Into-Light/ShadowsIntoLight-Regular.ttf") format("truetype");
  font-weight: normal;
  font-style: normal;
}
@font-face {
  font-family: "Star Jedi";
  src: url("../../../assets/fonts/Star-Jedi/Star-Jedi.ttf") format("truetype");
  font-weight: normal;
  font-style: normal;
}
@font-face {
  font-family: "Summerbee";
  src: url("../../assets/fonts/Summerbee/Summerbee.ttf") format("truetype");
  font-weight: normal;
  font-style: normal;
}
@font-face {
  font-family: "Ubuntu Regular", sans-serif;
  src: url("../../../assets/fonts/Ubuntu/Ubuntu-Regular.ttf") format("truetype");
  font-weight: normal;
  font-style: normal;
}
@font-face {
  font-family: "Anakin Mono";
  src: url("../../../assets/fonts/Anakin-Mono/Anakin-Mono.ttf") format("truetype");
  font-weight: normal;
  font-style: normal;
}
@font-face {
  font-family: "Architects Daughter", cursive;
  src: url("../../../assets/fonts/Architects-Daughter/ArchitectsDaughter-Regular.ttf") format("truetype");
  font-weight: normal;
  font-style: normal;
}
@font-face {
  font-family: "Boogaloo", cursive;
  src: url("../../../assets/fonts/Boogaloo/Boogaloo-Regular.ttf") format("truetype");
  font-weight: normal;
  font-style: normal;
}
@font-face {
  font-family: "Charm";
  src: url("../../../assets/fonts/Charm/Charm-Regular.ttf") format("truetype");
  font-weight: normal;
  font-style: normal;
}
@font-face {
  font-family: "Enchanted Land";
  src: url("../../assets/fonts/Enchanted-Land/Enchanted-Land.otf") format("opentype");
  font-weight: normal;
  font-style: normal;
}
@font-face {
  font-family: "Honey";
  src: url("../../assets/fonts/Honey/Honey.ttf") format("truetype");
  font-weight: normal;
  font-style: normal;
}
@font-face {
  font-family: "HoneyBee Regular";
  src: url("../../assets/fonts/Honey-Bee-Reg/HoneyBee-Regular.otf") format("opentype");
  font-weight: normal;
  font-style: normal;
}
@font-face {
  font-family: "Indie Flower";
  src: url("../../../assets/fonts/Indie-Flower/IndieFlower.ttf") format("truetype");
  font-weight: normal;
  font-style: normal;
}
@font-face {
  font-family: "Josefin Sans Regular", sans-serif;
  src: url("../../../assets/fonts/Josefin-Sans/JosefinSans-Regular.ttf") format("truetype");
  font-weight: normal;
  font-style: normal;
}
@font-face {
  font-family: "Ladybug Love Regular";
  src: url("../../../assets/fonts/Ladybug-Love/ladybug-love-demo.regular.otf") format("opentype");
  font-weight: normal;
  font-style: normal;
}
@font-face {
  font-family: "Lobster", cursive;
  src: url("../../../assets/fonts/Lobster/Lobster-Regular.ttf") format("truetype");
  font-weight: normal;
  font-style: normal;
}
/* Love Font (https://www.cufonfonts.com/font/love)*/
@font-face {
  font-family: "Love";
  src: url("../../../assets/fonts/Love/Love.woff") format("woff");
  font-weight: normal;
  font-style: normal;
}
@font-face {
  font-family: "Merriweather Sans Regular", sans-serif;
  src: url("../../../assets/fonts/Merriweather-Sans/MerriweatherSans-Regular.ttf") format("truetype");
  font-weight: normal;
  font-style: normal;
}
/* Peace Child (https://www.1001fonts.com/peacechild-font.html)*/
@font-face {
  font-family: "Peace Child";
  src: url("../../../assets/fonts/Peace-Child/Peace-Child.ttf") format("truetype");
  font-weight: normal;
  font-style: normal;
}
@font-face {
  font-family: "Press Start 2P", cursive;
  src: url("../../../assets/fonts/Press-Start-2P/PressStart2P-Regular.ttf") format("truetype");
  font-weight: normal;
  font-style: normal;
}
@font-face {
  font-family: "Raleway Regular", sans-serif;
  src: url("../../../assets/fonts/Raleway/Raleway-Regular.ttf") format("truetype");
  font-weight: normal;
  font-style: normal;
}
@font-face {
  font-family: "Shadows Into Light", cursive;
  src: url("../../../assets/fonts/Shadows-Into-Light/ShadowsIntoLight-Regular.ttf") format("truetype");
  font-weight: normal;
  font-style: normal;
}
@font-face {
  font-family: "Star Jedi";
  src: url("../../../assets/fonts/Star-Jedi/Star-Jedi.ttf") format("truetype");
  font-weight: normal;
  font-style: normal;
}
@font-face {
  font-family: "Summerbee";
  src: url("../../assets/fonts/Summerbee/Summerbee.ttf") format("truetype");
  font-weight: normal;
  font-style: normal;
}
@font-face {
  font-family: "Ubuntu Regular", sans-serif;
  src: url("../../../assets/fonts/Ubuntu/Ubuntu-Regular.ttf") format("truetype");
  font-weight: normal;
  font-style: normal;
}
/* Projects Fonts and Colours */
.fa-skill-badge {
  padding-top: 0;
  padding-right: 10px;
  padding-bottom: 0px;
  padding-left: 10px;
  color: #376c77;
  font-size: 60px;
}

.fa-small-skill-badge {
  padding-top: 0;
  padding-right: 1px;
  padding-bottom: 0px;
  padding-left: 1px;
  color: #376c77;
  font-size: 40px;
}

.html-badge {
  color: #f16529;
}

.css-badge {
  color: #2965f1;
}

.sass-badge {
  color: #Cd6799;
}

.js-badge {
  color: #f0db4f;
}

.python-badge {
  color: #4b8bbe;
}

/* Body */
/* Header */
/* Logos */
/* Gallery */
/* Skills and Hobbies */
/* Footer */
/* Padding Mixins */
/* Margin Mixins */
/* Height/Width */
/* Link */
/* Header */
/* Text */
/* Containers */
/* Glass */
/* Footer */
/* Borders */
@font-face {
  font-family: "Anakin Mono";
  src: url("../../../assets/fonts/Anakin-Mono/Anakin-Mono.ttf") format("truetype");
  font-weight: normal;
  font-style: normal;
}
@font-face {
  font-family: "Architects Daughter", cursive;
  src: url("../../../assets/fonts/Architects-Daughter/ArchitectsDaughter-Regular.ttf") format("truetype");
  font-weight: normal;
  font-style: normal;
}
@font-face {
  font-family: "Boogaloo", cursive;
  src: url("../../../assets/fonts/Boogaloo/Boogaloo-Regular.ttf") format("truetype");
  font-weight: normal;
  font-style: normal;
}
@font-face {
  font-family: "Charm";
  src: url("../../../assets/fonts/Charm/Charm-Regular.ttf") format("truetype");
  font-weight: normal;
  font-style: normal;
}
@font-face {
  font-family: "Enchanted Land";
  src: url("../../assets/fonts/Enchanted-Land/Enchanted-Land.otf") format("opentype");
  font-weight: normal;
  font-style: normal;
}
@font-face {
  font-family: "Honey";
  src: url("../../assets/fonts/Honey/Honey.ttf") format("truetype");
  font-weight: normal;
  font-style: normal;
}
@font-face {
  font-family: "HoneyBee Regular";
  src: url("../../assets/fonts/Honey-Bee-Reg/HoneyBee-Regular.otf") format("opentype");
  font-weight: normal;
  font-style: normal;
}
@font-face {
  font-family: "Indie Flower";
  src: url("../../../assets/fonts/Indie-Flower/IndieFlower.ttf") format("truetype");
  font-weight: normal;
  font-style: normal;
}
@font-face {
  font-family: "Josefin Sans Regular", sans-serif;
  src: url("../../../assets/fonts/Josefin-Sans/JosefinSans-Regular.ttf") format("truetype");
  font-weight: normal;
  font-style: normal;
}
@font-face {
  font-family: "Ladybug Love Regular";
  src: url("../../../assets/fonts/Ladybug-Love/ladybug-love-demo.regular.otf") format("opentype");
  font-weight: normal;
  font-style: normal;
}
@font-face {
  font-family: "Lobster", cursive;
  src: url("../../../assets/fonts/Lobster/Lobster-Regular.ttf") format("truetype");
  font-weight: normal;
  font-style: normal;
}
/* Love Font (https://www.cufonfonts.com/font/love)*/
@font-face {
  font-family: "Love";
  src: url("../../../assets/fonts/Love/Love.woff") format("woff");
  font-weight: normal;
  font-style: normal;
}
@font-face {
  font-family: "Merriweather Sans Regular", sans-serif;
  src: url("../../../assets/fonts/Merriweather-Sans/MerriweatherSans-Regular.ttf") format("truetype");
  font-weight: normal;
  font-style: normal;
}
/* Peace Child (https://www.1001fonts.com/peacechild-font.html)*/
@font-face {
  font-family: "Peace Child";
  src: url("../../../assets/fonts/Peace-Child/Peace-Child.ttf") format("truetype");
  font-weight: normal;
  font-style: normal;
}
@font-face {
  font-family: "Press Start 2P", cursive;
  src: url("../../../assets/fonts/Press-Start-2P/PressStart2P-Regular.ttf") format("truetype");
  font-weight: normal;
  font-style: normal;
}
@font-face {
  font-family: "Raleway Regular", sans-serif;
  src: url("../../../assets/fonts/Raleway/Raleway-Regular.ttf") format("truetype");
  font-weight: normal;
  font-style: normal;
}
@font-face {
  font-family: "Shadows Into Light", cursive;
  src: url("../../../assets/fonts/Shadows-Into-Light/ShadowsIntoLight-Regular.ttf") format("truetype");
  font-weight: normal;
  font-style: normal;
}
@font-face {
  font-family: "Star Jedi";
  src: url("../../../assets/fonts/Star-Jedi/Star-Jedi.ttf") format("truetype");
  font-weight: normal;
  font-style: normal;
}
@font-face {
  font-family: "Summerbee";
  src: url("../../assets/fonts/Summerbee/Summerbee.ttf") format("truetype");
  font-weight: normal;
  font-style: normal;
}
@font-face {
  font-family: "Ubuntu Regular", sans-serif;
  src: url("../../../assets/fonts/Ubuntu/Ubuntu-Regular.ttf") format("truetype");
  font-weight: normal;
  font-style: normal;
}
/* Padding Mixins */
/* Margin Mixins */
/* Height/Width */
/* Link */
/* Header */
/* Text */
/* Containers */
/* Glass */
/* Footer */
/* Borders */
/* Button */
.button-link {
  padding: 10px;
  text-decoration: none;
}

/* Github Button */
@font-face {
  font-family: "Anakin Mono";
  src: url("../../../assets/fonts/Anakin-Mono/Anakin-Mono.ttf") format("truetype");
  font-weight: normal;
  font-style: normal;
}
@font-face {
  font-family: "Architects Daughter", cursive;
  src: url("../../../assets/fonts/Architects-Daughter/ArchitectsDaughter-Regular.ttf") format("truetype");
  font-weight: normal;
  font-style: normal;
}
@font-face {
  font-family: "Boogaloo", cursive;
  src: url("../../../assets/fonts/Boogaloo/Boogaloo-Regular.ttf") format("truetype");
  font-weight: normal;
  font-style: normal;
}
@font-face {
  font-family: "Charm";
  src: url("../../../assets/fonts/Charm/Charm-Regular.ttf") format("truetype");
  font-weight: normal;
  font-style: normal;
}
@font-face {
  font-family: "Enchanted Land";
  src: url("../../assets/fonts/Enchanted-Land/Enchanted-Land.otf") format("opentype");
  font-weight: normal;
  font-style: normal;
}
@font-face {
  font-family: "Honey";
  src: url("../../assets/fonts/Honey/Honey.ttf") format("truetype");
  font-weight: normal;
  font-style: normal;
}
@font-face {
  font-family: "HoneyBee Regular";
  src: url("../../assets/fonts/Honey-Bee-Reg/HoneyBee-Regular.otf") format("opentype");
  font-weight: normal;
  font-style: normal;
}
@font-face {
  font-family: "Indie Flower";
  src: url("../../../assets/fonts/Indie-Flower/IndieFlower.ttf") format("truetype");
  font-weight: normal;
  font-style: normal;
}
@font-face {
  font-family: "Josefin Sans Regular", sans-serif;
  src: url("../../../assets/fonts/Josefin-Sans/JosefinSans-Regular.ttf") format("truetype");
  font-weight: normal;
  font-style: normal;
}
@font-face {
  font-family: "Ladybug Love Regular";
  src: url("../../../assets/fonts/Ladybug-Love/ladybug-love-demo.regular.otf") format("opentype");
  font-weight: normal;
  font-style: normal;
}
@font-face {
  font-family: "Lobster", cursive;
  src: url("../../../assets/fonts/Lobster/Lobster-Regular.ttf") format("truetype");
  font-weight: normal;
  font-style: normal;
}
/* Love Font (https://www.cufonfonts.com/font/love)*/
@font-face {
  font-family: "Love";
  src: url("../../../assets/fonts/Love/Love.woff") format("woff");
  font-weight: normal;
  font-style: normal;
}
@font-face {
  font-family: "Merriweather Sans Regular", sans-serif;
  src: url("../../../assets/fonts/Merriweather-Sans/MerriweatherSans-Regular.ttf") format("truetype");
  font-weight: normal;
  font-style: normal;
}
/* Peace Child (https://www.1001fonts.com/peacechild-font.html)*/
@font-face {
  font-family: "Peace Child";
  src: url("../../../assets/fonts/Peace-Child/Peace-Child.ttf") format("truetype");
  font-weight: normal;
  font-style: normal;
}
@font-face {
  font-family: "Press Start 2P", cursive;
  src: url("../../../assets/fonts/Press-Start-2P/PressStart2P-Regular.ttf") format("truetype");
  font-weight: normal;
  font-style: normal;
}
@font-face {
  font-family: "Raleway Regular", sans-serif;
  src: url("../../../assets/fonts/Raleway/Raleway-Regular.ttf") format("truetype");
  font-weight: normal;
  font-style: normal;
}
@font-face {
  font-family: "Shadows Into Light", cursive;
  src: url("../../../assets/fonts/Shadows-Into-Light/ShadowsIntoLight-Regular.ttf") format("truetype");
  font-weight: normal;
  font-style: normal;
}
@font-face {
  font-family: "Star Jedi";
  src: url("../../../assets/fonts/Star-Jedi/Star-Jedi.ttf") format("truetype");
  font-weight: normal;
  font-style: normal;
}
@font-face {
  font-family: "Summerbee";
  src: url("../../assets/fonts/Summerbee/Summerbee.ttf") format("truetype");
  font-weight: normal;
  font-style: normal;
}
@font-face {
  font-family: "Ubuntu Regular", sans-serif;
  src: url("../../../assets/fonts/Ubuntu/Ubuntu-Regular.ttf") format("truetype");
  font-weight: normal;
  font-style: normal;
}
@font-face {
  font-family: "Anakin Mono";
  src: url("../../../assets/fonts/Anakin-Mono/Anakin-Mono.ttf") format("truetype");
  font-weight: normal;
  font-style: normal;
}
@font-face {
  font-family: "Architects Daughter", cursive;
  src: url("../../../assets/fonts/Architects-Daughter/ArchitectsDaughter-Regular.ttf") format("truetype");
  font-weight: normal;
  font-style: normal;
}
@font-face {
  font-family: "Boogaloo", cursive;
  src: url("../../../assets/fonts/Boogaloo/Boogaloo-Regular.ttf") format("truetype");
  font-weight: normal;
  font-style: normal;
}
@font-face {
  font-family: "Charm";
  src: url("../../../assets/fonts/Charm/Charm-Regular.ttf") format("truetype");
  font-weight: normal;
  font-style: normal;
}
@font-face {
  font-family: "Enchanted Land";
  src: url("../../assets/fonts/Enchanted-Land/Enchanted-Land.otf") format("opentype");
  font-weight: normal;
  font-style: normal;
}
@font-face {
  font-family: "Honey";
  src: url("../../assets/fonts/Honey/Honey.ttf") format("truetype");
  font-weight: normal;
  font-style: normal;
}
@font-face {
  font-family: "HoneyBee Regular";
  src: url("../../assets/fonts/Honey-Bee-Reg/HoneyBee-Regular.otf") format("opentype");
  font-weight: normal;
  font-style: normal;
}
@font-face {
  font-family: "Indie Flower";
  src: url("../../../assets/fonts/Indie-Flower/IndieFlower.ttf") format("truetype");
  font-weight: normal;
  font-style: normal;
}
@font-face {
  font-family: "Josefin Sans Regular", sans-serif;
  src: url("../../../assets/fonts/Josefin-Sans/JosefinSans-Regular.ttf") format("truetype");
  font-weight: normal;
  font-style: normal;
}
@font-face {
  font-family: "Ladybug Love Regular";
  src: url("../../../assets/fonts/Ladybug-Love/ladybug-love-demo.regular.otf") format("opentype");
  font-weight: normal;
  font-style: normal;
}
@font-face {
  font-family: "Lobster", cursive;
  src: url("../../../assets/fonts/Lobster/Lobster-Regular.ttf") format("truetype");
  font-weight: normal;
  font-style: normal;
}
/* Love Font (https://www.cufonfonts.com/font/love)*/
@font-face {
  font-family: "Love";
  src: url("../../../assets/fonts/Love/Love.woff") format("woff");
  font-weight: normal;
  font-style: normal;
}
@font-face {
  font-family: "Merriweather Sans Regular", sans-serif;
  src: url("../../../assets/fonts/Merriweather-Sans/MerriweatherSans-Regular.ttf") format("truetype");
  font-weight: normal;
  font-style: normal;
}
/* Peace Child (https://www.1001fonts.com/peacechild-font.html)*/
@font-face {
  font-family: "Peace Child";
  src: url("../../../assets/fonts/Peace-Child/Peace-Child.ttf") format("truetype");
  font-weight: normal;
  font-style: normal;
}
@font-face {
  font-family: "Press Start 2P", cursive;
  src: url("../../../assets/fonts/Press-Start-2P/PressStart2P-Regular.ttf") format("truetype");
  font-weight: normal;
  font-style: normal;
}
@font-face {
  font-family: "Raleway Regular", sans-serif;
  src: url("../../../assets/fonts/Raleway/Raleway-Regular.ttf") format("truetype");
  font-weight: normal;
  font-style: normal;
}
@font-face {
  font-family: "Shadows Into Light", cursive;
  src: url("../../../assets/fonts/Shadows-Into-Light/ShadowsIntoLight-Regular.ttf") format("truetype");
  font-weight: normal;
  font-style: normal;
}
@font-face {
  font-family: "Star Jedi";
  src: url("../../../assets/fonts/Star-Jedi/Star-Jedi.ttf") format("truetype");
  font-weight: normal;
  font-style: normal;
}
@font-face {
  font-family: "Summerbee";
  src: url("../../assets/fonts/Summerbee/Summerbee.ttf") format("truetype");
  font-weight: normal;
  font-style: normal;
}
@font-face {
  font-family: "Ubuntu Regular", sans-serif;
  src: url("../../../assets/fonts/Ubuntu/Ubuntu-Regular.ttf") format("truetype");
  font-weight: normal;
  font-style: normal;
}
/* Projects Fonts and Colours */
.fa-skill-badge {
  padding-top: 0;
  padding-right: 10px;
  padding-bottom: 0px;
  padding-left: 10px;
  color: #376c77;
  font-size: 60px;
}

.fa-small-skill-badge {
  padding-top: 0;
  padding-right: 1px;
  padding-bottom: 0px;
  padding-left: 1px;
  color: #376c77;
  font-size: 40px;
}

.html-badge {
  color: #f16529;
}

.css-badge {
  color: #2965f1;
}

.sass-badge {
  color: #Cd6799;
}

.js-badge {
  color: #f0db4f;
}

.python-badge {
  color: #4b8bbe;
}

/* Body */
html {
  margin: 0 auto;
  padding: 0;
}

body {
  margin: 0 auto;
  min-height: 100vh;
  font-family: "Josefin Sans Regular", sans-serif;
}

/* Header */
.cv-header {
  padding-top: 50px;
  padding-right: 40px;
  padding-bottom: 50px;
  padding-left: 40px;
  background-color: #f2f7f8;
  text-align: center;
  line-height: 1em;
}

.info-column,
.pic-column {
  float: left;
  width: 50%;
}

/* Clear floats after the columns */
.row:after {
  content: "";
  display: table;
  clear: both;
}

.hero-text,
.hero-info,
.download {
  text-align: left;
}

.hero-info,
.hero-text {
  margin-bottom: 50px;
}

.hero-text h2 {
  font-size: 100px;
  line-height: normal;
  margin-bottom: 20px;
}

.hero-text p {
  opacity: 0.7;
  font-size: 20px;
  line-height: 1.3;
}

.profile-image {
  border-radius: 120%;
  max-width: 60%;
}

.hero-image {
  padding-left: 100px;
  max-width: 75%;
}

.hero-info h2 {
  margin-bottom: 40px;
}

.hero-info ul {
  list-style: none;
}

.hero-info ul li {
  opacity: 0.7;
  font-size: 24px;
  color: #6ba0ab;
  margin-bottom: 15px;
}

.hero-info ul li span {
  color: #376c77;
  display: inline-block;
  min-width: 220px;
}

.hero-info ul li:last-child {
  margin-bottom: 0;
}

.download-btn {
  padding-top: 20px;
  padding-right: 10px;
  padding-bottom: 15px;
  padding-left: 10px;
  border-style: solid;
  border-width: 2px;
  border-color: black;
  display: inline-block;
  text-transform: uppercase;
  font-size: 12px;
  min-width: 213px;
  min-height: 20px;
  text-align: center;
  position: relative;
  background-color: white;
  margin-right: 10px;
  color: black;
  font-weight: 700;
}

/* Social Section */
.social-section {
  background: #f9f9f9;
  padding: 30px 80px;
}

.social-section .social-links {
  display: inline-block;
  background: #f9f9f9;
  position: relative;
  z-index: 5;
}

.social-section .social-links a {
  color: #484848;
  font-size: 36px;
  margin-right: 40px;
}

.social-section .social-link-warp {
  position: relative;
}

.social-section .social-link-warp h2 {
  display: inline-block;
  float: right;
  font-weight: 400;
  padding-left: 30px;
  background: #f9f9f9;
  position: relative;
  z-index: 5;
}

.social-section .social-link-warp:after {
  position: absolute;
  content: "";
  width: 50%;
  height: 2px;
  left: 23%;
  top: 50%;
  margin-top: 1px;
  background: #cbcbcb;
}

/* Footer */
.cv-footer {
  width: 100%;
  box-sizing: border-box;
  bottom: 0;
  margin-top: 10px;
  text-align: center;
  font-weight: bold;
  background-color: #f2f7f8;
  font-family: "Josefin Sans Regular", sans-serif;
  color: #6ba0ab;
}

.cv-credits,
.cv-copyright,
.cv-powered {
  opacity: 0.7;
  font-size: 12px;
  line-height: 1.3em;
}

/* Body */
html {
  margin: 0 auto;
  padding: 0;
}

body {
  margin: 0 auto;
  min-height: 100vh;
}

/* Nav Bar */
.page-nav {
  padding-top: 10px;
  padding-bottom: 10px;
  background-color: #bdf3ff;
  display: flex;
  align-items: center;
  justify-content: space-between;
  overflow: hidden;
  text-decoration: none;
  width: 100%;
}

.brand,
.nav-link,
.link {
  padding-right: 25px;
  padding-left: 25px;
  text-decoration: none;
  text-align: center;
}

.brand-image {
  height: 30px;
  width: 30px;
}

.brand {
  padding-left: 50px;
  font-family: "Honey", cursive;
  font-size: 25px;
}

.nav-links {
  font-family: "Ubuntu Regular", sans-serif;
  color: #376c77;
  font-size: 18px;
  font-weight: bold;
  padding-right: 50px;
}
.nav-links a {
  color: #376c77;
}
.nav-links a:visited {
  color: #376c77;
}
.nav-links a:hover {
  color: #376c77;
}
.nav-links a:active {
  color: #376c77;
}

/* Header */
.site-header {
  padding-top: 50px;
  padding-right: 100px;
  padding-bottom: 50px;
  padding-left: 100px;
  background-color: #bdf3ff;
  text-align: center;
  background: url("../../assets/images/hello-spring.jpg") top left no-repeat;
  background-size: contain;
  background-size: 100%;
}

.home-header {
  font-family: "HoneyBee Regular", cursive;
  line-height: 1em;
}

.header-title {
  padding-top: 60px;
  font-size: 100px;
  font-weight: bold;
}

.header-subtitle {
  padding-top: 50px;
  font-size: 65px;
}

.gallery-header-title {
  font-size: 100px;
  font-weight: bold;
  line-height: 1em;
}

.gallery-header-subtitle {
  font-size: 40px;
  line-height: 1em;
}

/* Logos */
.logos-section,
.welcome-section,
.skills-section,
.hobbies-section,
.cert-title-section,
.gallery-section,
.page-line {
  text-align: center;
}

.logo {
  padding-top: 50px;
  padding-right: 100px;
  padding-bottom: 50px;
  padding-left: 100px;
  max-height: 250px;
  max-width: 250px;
  height: auto;
  width: auto;
}

.me-logo {
  padding-top: 10px;
  padding-right: 10px;
  padding-bottom: 10px;
  padding-left: 10px;
  max-height: 175px;
  max-width: 175px;
  height: auto;
  width: auto;
}

.pline {
  padding-top: 10px;
  padding-right: 10px;
  padding-bottom: 10px;
  padding-left: 10px;
  max-height: 300px;
  max-width: 300px;
  height: auto;
  width: auto;
}

/* Intro */
.welcome-title,
.cert-title,
.skills-title,
.hobbies-title,
.gallery-samp-title {
  font-family: "HoneyBee Regular", cursive;
  color: black;
  font-size: 50px;
  font-weight: bold;
}

.welcome-text,
.cert-section {
  padding-top: 20px;
  padding-right: 50px;
  padding-bottom: 20px;
  padding-left: 50px;
  text-align: justify;
  text-justify: inter-word;
}

.welcome-text {
  margin-right: 250px;
  margin-left: 250px;
}

.gallery-section,
.cert-section {
  margin-right: 150px;
  margin-left: 150px;
}

.gallery-section,
.cert-section,
.cert-link,
.welcome-text {
  font-family: "Ubuntu Regular", sans-serif;
  color: black;
  font-size: 18px;
  font-weight: normal;
}

/* Gallery and Certs*/
.gallery-header,
.gallery-subtitle,
.gallery-content {
  font-family: "Architects Daughter", cursive;
}

.gallery-title {
  font-family: "Architects Daughter", cursive;
  color: black;
  font-size: 50px;
  font-weight: bold;
}

.gallery-grid {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  padding-top: 20px;
  text-align: center;
}

.gallery-card {
  border-radius: 3.2px;
  width: 350px;
  line-height: 1.2em;
}

.gallery-card-image {
  height: 200px;
  width: 100%;
}

.cert-grid {
  display: grid;
  grid-template-columns: repeat(5, 1fr);
  grid-gap: 20px;
  padding-top: 20px;
  text-align: center;
}

.cert-card {
  border-radius: 10px;
  width: 290px;
  border-style: solid;
  border-width: 1px;
  border-color: #ccc;
}

.cert-card-image {
  height: 200px;
  width: 200px;
  padding-top: 10px;
}

.gallery-img,
.cert-img {
  background-size: cover;
  background-position: center;
}

.gallery-content {
  padding: 15px;
}

.gallery-card,
.project-btn,
.gitcode-btn,
.img-btn,
.codepen-btn {
  border-style: solid;
  border-width: 1px;
  border-color: black;
}

.project-btn,
.gitcode-btn,
.img-btn {
  padding-top: 15px;
  padding-right: 15px;
  padding-bottom: 15px;
  padding-left: 15px;
  background-color: #376c77;
  border-radius: 30px;
  text-align: center;
  text-decoration: none;
  font-weight: bold;
  display: inline-block;
  margin-bottom: 10px;
}

.project-btn,
.gitcode-btn,
.img-btn {
  color: white;
}

.gitcode-btn {
  background-color: #2196f3;
}

.img-btn {
  background: #c8a2c8;
}

.new-project,
.updated-project {
  animation: animate 1.8s linear infinite;
  line-height: 0.5em;
}

.new-project {
  font-family: "Architects Daughter", cursive;
  color: red;
  font-size: 40px;
  font-weight: bold;
}

.updated-project {
  font-family: "Architects Daughter", cursive;
  color: green;
  font-size: 40px;
  font-weight: bold;
}

@keyframes animate {
  0% {
    opacity: 0;
  }
  50% {
    opacity: 0.7;
  }
  100% {
    opacity: 0;
  }
}
/* Skills and Hobbies */
.skills-rows {
  padding-top: 10px;
  padding-right: 250px;
  padding-bottom: 10px;
  padding-left: 250px;
}

.skills-rows,
.skills-progress-text {
  display: flex;
  justify-content: space-between;
}

.skills-row-1,
.skills-row-2 {
  width: 45%;
}

.progress-bar {
  background-color: #376c77;
  height: 20px;
}

.skills-progress-text {
  font-family: "Ubuntu Regular", sans-serif;
  color: black;
  font-size: 18px;
  font-weight: normal;
}

.hobby-title {
  font-family: "Ubuntu Regular", sans-serif;
  color: black;
  font-size: 15px;
  font-weight: normal;
}

.hobbies-row {
  padding-right: 300px;
  padding-left: 300px;
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  grid-gap: 10px;
}

.hobby-box {
  text-align: center;
  display: inline-block;
  color: #376c77;
}

.hobby {
  max-height: 150px;
  max-width: 150px;
  height: auto;
  width: auto;
}

/* Footer */
.site-footer,
.gallery-footer {
  width: 100%;
  box-sizing: border-box;
  bottom: 0;
  margin-top: 10px;
  text-align: center;
  font-weight: bold;
}
.site-footer a,
.gallery-footer a {
  color: #376c77;
}
.site-footer a:visited,
.gallery-footer a:visited {
  color: #376c77;
}
.site-footer a:hover,
.gallery-footer a:hover {
  color: #376c77;
}
.site-footer a:active,
.gallery-footer a:active {
  color: #376c77;
}

.site-footer {
  background-color: #bdf3ff;
  font-family: "Summerbee", sans-serif;
  color: #376c77;
}

.gallery-footer {
  background-color: #bdf3ff;
  font-family: "Architects Daughter", cursive;
  color: #376c77;
}

.contact-logo {
  padding-right: 12px;
  padding-left: 12px;
  font-size: 30px;
}

.contacts {
  margin-bottom: 10px;
}

.credits,
.copyright,
.powered {
  margin: 0;
  opacity: 0.7;
  font-size: 15px;
}/*# sourceMappingURL=styles.css.map */