/* SASS Import Files */

@import '../../../../css/_elements.scss';

$images: '../images';

/* Body */
html {
  @include html();
}

body {
  @include body();
  @include body-container();
  background-image: url(#{$images}/fantasy-by-johannes-plenio-unsplash.jpg);
  background-size: 100%;
  background-repeat: no-repeat;
  font-family: $charm;
  color: $light;
  text-align: center;
  font-weight: 700;
}

body::before {
  @include body-before();
  background-color: transparentize($royalpurple, 0.7);
}

/* Git Button */

.projectgit {
  @include projgitbut();
  @include gitbutcol($light, $light);
  @include projgitcss(tranparent, $charm);
}

.projectgit:hover {
  @include projgithover();
  @include gitbutcol($light, $light);
}


.royal-name {
  font-size: 60px;
}

/* Buttons */

.gen-btn {
  @include borall(solid, 1px, $light);
  font-family: $charm;
  background-color: $transparent;
  color: $light;
  padding: 10px;
  border-radius: 12px;
  font-weight: bold;
  font-size: 40px;
}

.gen-btn:hover {
  background-color: $magic;
}

.btn-primary-spacing {
  margin: 15px;
}

/* Container to reveal Name */

.name-container {
  @include padding-allround(20px, 30px, 20px, 30px);
  @include martb(30px, 30px);
  display: none;
  background-color: rgba(128, 128, 128, 0.5);
  box-shadow: 0 10px 10px 10px rgba(0, 0, 0, 0.2);
  height: auto;
  max-width: 900px;
  border-radius: 10px;
}

.name {
  text-align: center;
  font-family: $charm;
  font-size: 32px;
  color: $light;
}

.reset-icon {
  font-size: 50px;
  cursor: pointer;
  padding-top: 20px;
  padding-bottom: 20px;
}

.reset-icon:hover {
  color: $magic;
}


/* Links */

a,
a:visited {
  text-decoration: underline;
}

/* Footer */

.contact-logo {
  @include contact-logo();
}

.project-footer {
  @include page-footer();
  @include footcol(transparent, $charm, $light);
  @include linx($light, $light, $light, $light);
  // position: fixed;
}

.credits a,
a:visited {
  color: $light;
}

//Awesome Font Logo Hover

.fa-envelope:hover,
.fa-linkedin:hover,
.fa-github:hover,
.fa-free-code-camp:hover,
.fa-codepen:hover {
  color: $magic;
}