/* SASS Import Files */

@import "../../../../assets/css/elements/_buttons.scss";
@import "../../../../assets/css/elements/_colours.scss";
@import "../../../../assets/css/elements/_fonts.scss";
@import "../../../../assets/css/elements/_main-elements.scss";
@import "../../../../assets/css/elements/_mixins.scss";
@import "../../../../assets/css/elements/project-fonts-and-colours";

/* Body */

body {
  @include body();
  color: $night;
  text-align: center;
  font-family: $text;
  background-image: linear-gradient(
    $african-red,
    $african-yellow,
    $african-green
  );
}

/* Git Button */

.projectgit {
  @include projgitbut();
}

.projectgit:hover {
  @include borstyle(solid, $night);
  color: $light;
  background-color: $night;
}

/* Text Area */

.main {
  @include padding-allround(15px, 50px, 15px, 50px);
  border-radius: 5px;
}

.title,
.heading {
  font-family: $basictext;
  font-style: bold;
}

.title {
  font-size: $big-title;
}

.heading {
  font-size: $smltitle;
}

.text {
  @include justify();
  @include padding-rightleft(200px, 200px);
}

/* Images */

.img {
  max-width: 100%;
  display: block;
  height: auto;
  margin: 0 auto;
}

.img-div {
  padding: 10px;
  margin: 0;
}

.img-caption {
  @include margin-allround(5px, 0px, 5px, 0px);
  font-weight: bold;
}

/* Links */

a,
a:visited {
  color: $african-yellow;
  text-decoration: none;
}

/* Footer */

.contact-logo {
  @include contact-logo();
}

.project-footer {
  @include page-footer();
  @include linx(
    $african-yellow,
    $african-yellow,
    $african-yellow,
    $african-yellow
  );
  background-color: $african-green;
  color: $african-yellow;
}
