/* SASS Import Files */ /* Opacity */
/* Colours */
/* Rainbow Colours */
/* Google Fonts */
@import url("https://fonts.googleapis.com/css2?family=Architects+Daughter&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Sacramento&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Ubuntu&display=swap");
/* Imported Fonts */
@import url("https://fonts.googleapis.com/css2?family=Architects+Daughter&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Sacramento&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Ubuntu&display=swap");
@font-face {
  font-family: "Menlo Regular";
  font-style: normal;
  font-weight: normal;
  src: local("Menlo-Regular"), url("../../fonts/Menlo-Regular.woff") format("woff");
}
/* Fonts */
/* Mixins */
/* Link */
/* Header */
/* Text */
/* Glass */
/* Borders */
/* Button */
.button-link {
  padding: 10px;
  text-decoration: none;
}

.test-but {
  margin-top: 20px;
  margin-right: 100px;
  margin-bottom: 20px;
  margin-left: 100px;
  padding: 10px;
  font-weight: bold;
  border-radius: 30px;
  border: none;
  text-align: center;
  display: inline-block;
  font-size: 22px;
  font-family: "Ubuntu", sans-serif;
  background-color: red;
}

/* Github Button */
/* Opacity */
/* Colours */
/* Rainbow Colours */
/* Google Fonts */
/* Imported Fonts */
@font-face {
  font-family: "Menlo Regular";
  font-style: normal;
  font-weight: normal;
  src: local("Menlo-Regular"), url("../../fonts/Menlo-Regular.woff") format("woff");
}
/* Fonts */
/* Body */
/* Nav Bar */
/* Header */
/* Logos */
/* BEE Line */
/* Skills */
/* Gallery */
/* Footer */
.copyright {
  margin-top: 10px;
}

/* Mixins */
/* Link */
/* Header */
/* Text */
/* Glass */
/* Borders */
/* Projects Fonts and Colours */
/* Body */
body {
  width: 100%;
  min-height: 100vh;
  color: #000000;
  text-align: center;
  font-family: "Ubuntu", sans-serif;
  background-image: linear-gradient(#e03c31, #ffb81c, #007749);
}

/* Git Button */
.projectgit {
  padding-top: 15px;
  padding-right: 15px;
  padding-bottom: 15px;
  padding-left: 15px;
  border-radius: 30px;
  text-align: center;
  text-decoration: none;
  font-weight: bold;
  display: inline-block;
  margin-top: 30px;
  margin-bottom: 30px;
  color: #fff;
  background-color: #2196f3;
  font-size: 18px;
  font-family: "Menlo Regular";
}

.projectgit:hover {
  border-style: solid;
  border-color: #000000;
  color: #fff;
  background-color: #000000;
}

/* Text Area */
.main {
  padding-top: 15px;
  padding-right: 50px;
  padding-bottom: 15px;
  padding-left: 50px;
  border-radius: 5px;
}

.title,
.heading {
  font-family: "Arial", sans-serif;
  font-style: bold;
}

.title {
  font-size: 40px;
}

.heading {
  font-size: 30px;
}

.text {
  text-align: justify;
  text-justify: inter-word;
  padding-right: 200px;
  padding-left: 200px;
}

/* Images */
.img {
  max-width: 100%;
  display: block;
  height: auto;
  margin: 0 auto;
}

.img-div {
  padding: 10px;
  margin: 0;
}

.img-caption {
  margin-top: 5px;
  margin-right: 0px;
  margin-bottom: 5px;
  margin-left: 0px;
  font-weight: bold;
}

/* Links */
a,
a:visited {
  color: #ffb81c;
  text-decoration: none;
}

/* Footer */
.contact-logo {
  padding-right: 12px;
  padding-left: 12px;
  font-size: 25px;
}

.project-footer {
  padding-right: 100px;
  padding-left: 100px;
  margin-top: 10px;
  padding-top: 10px;
  text-align: center;
  background-color: #007749;
  color: #ffb81c;
}
.project-footer a {
  color: #ffb81c;
}
.project-footer a:visited {
  color: #ffb81c;
}
.project-footer a:hover {
  color: #ffb81c;
}
.project-footer a:active {
  color: #ffb81c;
}/*# sourceMappingURL=styles.css.map */