/* SASS Import Files */ /* Body */
/* Header */
/* Logos */
/* Gallery */
/* Skills and Hobbies */
/* Footer */
/* Padding Mixins */
/* Margin Mixins */
/* Height/Width */
/* Link */
/* Header */
/* Text */
/* Containers */
/* Glass */
/* Footer */
/* Borders */
/* Google Fonts */
@import url("https://fonts.googleapis.com/css2?family=Architects+Daughter&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Boogaloo&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Indie+Flower&family=Lobster&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Merriweather+Sans&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Press+Start+2P&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Raleway:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Shadows+Into+Light&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Ubuntu&display=swap");
/* Imported Fonts */
@import url("https://fonts.googleapis.com/css2?family=Architects+Daughter&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Boogaloo&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Indie+Flower&family=Lobster&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Merriweather+Sans&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Press+Start+2P&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Raleway:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Shadows+Into+Light&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Ubuntu&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Architects+Daughter&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Boogaloo&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Indie+Flower&family=Lobster&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Merriweather+Sans&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Press+Start+2P&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Raleway:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Shadows+Into+Light&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Ubuntu&display=swap");
@font-face {
  font-family: "Anakin Mono";
  src: url("../../../assets/fonts/Anakin-Mono/Anakin-Mono.ttf") format("truetype");
  font-weight: normal;
  font-style: normal;
}
@font-face {
  font-family: "Charm";
  src: url("../../../assets/fonts/Charm/Charm-Regular.ttf") format("truetype");
  font-weight: normal;
  font-style: normal;
}
@font-face {
  font-family: "Honey";
  src: url("../../assets/fonts/Honey/Honey.ttf") format("truetype");
  font-weight: normal;
  font-style: normal;
}
@font-face {
  font-family: "HoneyBee Regular";
  src: url("../../assets/fonts/Honey-Bee-Reg/HoneyBee-Regular.otf") format("opentype");
  font-weight: normal;
  font-style: normal;
}
@font-face {
  font-family: "Indie Flower";
  src: url("../../../assets/fonts/Indie-Flower/IndieFlower.ttf") format("truetype");
  font-weight: normal;
  font-style: normal;
}
@font-face {
  font-family: "Ladybug Love Regular";
  src: url("../../../assets/fonts/Ladybug-Love/ladybug-love-demo.regular.otf") format("opentype");
  font-weight: normal;
  font-style: normal;
}
/* Love Font (https://www.cufonfonts.com/font/love)*/
@font-face {
  font-family: "Love";
  src: url("../../../assets/fonts/Love/Love.woff") format("woff");
  font-weight: normal;
  font-style: normal;
}
/* Peace Child (https://www.1001fonts.com/peacechild-font.html)*/
@font-face {
  font-family: "Peace Child";
  src: url("../../../assets/fonts/Peace-Child/Peace-Child.ttf") format("truetype");
  font-weight: normal;
  font-style: normal;
}
@font-face {
  font-family: "Star Jedi";
  src: url("../../../assets/fonts/Star-Jedi/Star-Jedi.ttf") format("truetype");
  font-weight: normal;
  font-style: normal;
}
@font-face {
  font-family: "Summerbee";
  src: url("../../assets/fonts/Summerbee/Summerbee.ttf") format("truetype");
  font-weight: normal;
  font-style: normal;
}
/* Padding Mixins */
/* Margin Mixins */
/* Height/Width */
/* Link */
/* Header */
/* Text */
/* Containers */
/* Glass */
/* Footer */
/* Borders */
/* Button */
.button-link {
  padding: 10px;
  text-decoration: none;
}

/* Github Button */
/* Google Fonts */
/* Imported Fonts */
@font-face {
  font-family: "Anakin Mono";
  src: url("../../../assets/fonts/Anakin-Mono/Anakin-Mono.ttf") format("truetype");
  font-weight: normal;
  font-style: normal;
}
@font-face {
  font-family: "Charm";
  src: url("../../../assets/fonts/Charm/Charm-Regular.ttf") format("truetype");
  font-weight: normal;
  font-style: normal;
}
@font-face {
  font-family: "Honey";
  src: url("../../assets/fonts/Honey/Honey.ttf") format("truetype");
  font-weight: normal;
  font-style: normal;
}
@font-face {
  font-family: "HoneyBee Regular";
  src: url("../../assets/fonts/Honey-Bee-Reg/HoneyBee-Regular.otf") format("opentype");
  font-weight: normal;
  font-style: normal;
}
@font-face {
  font-family: "Indie Flower";
  src: url("../../../assets/fonts/Indie-Flower/IndieFlower.ttf") format("truetype");
  font-weight: normal;
  font-style: normal;
}
@font-face {
  font-family: "Ladybug Love Regular";
  src: url("../../../assets/fonts/Ladybug-Love/ladybug-love-demo.regular.otf") format("opentype");
  font-weight: normal;
  font-style: normal;
}
/* Love Font (https://www.cufonfonts.com/font/love)*/
@font-face {
  font-family: "Love";
  src: url("../../../assets/fonts/Love/Love.woff") format("woff");
  font-weight: normal;
  font-style: normal;
}
/* Peace Child (https://www.1001fonts.com/peacechild-font.html)*/
@font-face {
  font-family: "Peace Child";
  src: url("../../../assets/fonts/Peace-Child/Peace-Child.ttf") format("truetype");
  font-weight: normal;
  font-style: normal;
}
@font-face {
  font-family: "Star Jedi";
  src: url("../../../assets/fonts/Star-Jedi/Star-Jedi.ttf") format("truetype");
  font-weight: normal;
  font-style: normal;
}
@font-face {
  font-family: "Summerbee";
  src: url("../../assets/fonts/Summerbee/Summerbee.ttf") format("truetype");
  font-weight: normal;
  font-style: normal;
}
/* Google Fonts */
/* Imported Fonts */
@font-face {
  font-family: "Anakin Mono";
  src: url("../../../assets/fonts/Anakin-Mono/Anakin-Mono.ttf") format("truetype");
  font-weight: normal;
  font-style: normal;
}
@font-face {
  font-family: "Charm";
  src: url("../../../assets/fonts/Charm/Charm-Regular.ttf") format("truetype");
  font-weight: normal;
  font-style: normal;
}
@font-face {
  font-family: "Honey";
  src: url("../../assets/fonts/Honey/Honey.ttf") format("truetype");
  font-weight: normal;
  font-style: normal;
}
@font-face {
  font-family: "HoneyBee Regular";
  src: url("../../assets/fonts/Honey-Bee-Reg/HoneyBee-Regular.otf") format("opentype");
  font-weight: normal;
  font-style: normal;
}
@font-face {
  font-family: "Indie Flower";
  src: url("../../../assets/fonts/Indie-Flower/IndieFlower.ttf") format("truetype");
  font-weight: normal;
  font-style: normal;
}
@font-face {
  font-family: "Ladybug Love Regular";
  src: url("../../../assets/fonts/Ladybug-Love/ladybug-love-demo.regular.otf") format("opentype");
  font-weight: normal;
  font-style: normal;
}
/* Love Font (https://www.cufonfonts.com/font/love)*/
@font-face {
  font-family: "Love";
  src: url("../../../assets/fonts/Love/Love.woff") format("woff");
  font-weight: normal;
  font-style: normal;
}
/* Peace Child (https://www.1001fonts.com/peacechild-font.html)*/
@font-face {
  font-family: "Peace Child";
  src: url("../../../assets/fonts/Peace-Child/Peace-Child.ttf") format("truetype");
  font-weight: normal;
  font-style: normal;
}
@font-face {
  font-family: "Star Jedi";
  src: url("../../../assets/fonts/Star-Jedi/Star-Jedi.ttf") format("truetype");
  font-weight: normal;
  font-style: normal;
}
@font-face {
  font-family: "Summerbee";
  src: url("../../assets/fonts/Summerbee/Summerbee.ttf") format("truetype");
  font-weight: normal;
  font-style: normal;
}
/* Projects Fonts and Colours */
/* $magic: rgb(160, 15, 136);
$fire: rgb(243, 107, 0);
$bluefire: rgb(243, 49, 0); */
.fa-skill-badge {
  padding-top: 0;
  padding-right: 10px;
  padding-bottom: 0px;
  padding-left: 10px;
  color: #376c77;
  font-size: 60px;
}

.fa-small-skill-badge {
  padding-top: 0;
  padding-right: 1px;
  padding-bottom: 0px;
  padding-left: 1px;
  color: #376c77;
  font-size: 40px;
}

.html-badge {
  color: #f16529;
}

.css-badge {
  color: #2965f1;
}

.sass-badge {
  color: #Cd6799;
}

.js-badge {
  color: #f0db4f;
}

.python-badge {
  color: #4b8bbe;
}

/* Body */
html {
  margin: 0 auto;
  padding: 0;
}

body {
  margin: 0 auto;
  min-height: 100vh;
  text-align: center;
  display: flex;
  flex-direction: column;
  align-items: center;
  background-color: black;
  background-image: url(../images/star-wars-cave-by-cade-roberts-unsplash.jpg);
  background-size: 100%;
  background-repeat: no-repeat;
  font-family: "Anakin Mono";
  color: white;
  font-weight: 700;
}

/* Git Button */
.projectgit {
  padding-top: 15px;
  padding-right: 15px;
  padding-bottom: 15px;
  padding-left: 15px;
  background-color: #376c77;
  border-radius: 30px;
  text-align: center;
  text-decoration: none;
  font-weight: bold;
  display: inline-block;
  margin-top: 30px;
  margin-bottom: 30px;
  border-style: solid;
  border-width: 2px;
  background-color: transparent;
  font-size: 18px;
  color: white;
  border-color: white;
  font-family: "Merriweather Sans", sans-serif;
}

.projectgit:hover {
  padding-top: 15px;
  padding-right: 15px;
  padding-bottom: 15px;
  padding-left: 15px;
  background-color: #376c77;
  border-radius: 30px;
  text-align: center;
  text-decoration: none;
  font-weight: bold;
  display: inline-block;
  margin-top: 30px;
  margin-bottom: 30px;
  border-style: solid;
  border-width: 2px;
  background-color: #2196f3;
  font-size: 18px;
  color: white;
  border-color: white;
}

/* Container */
.sw-container {
  padding-top: 0;
  padding-right: 50px;
  padding-bottom: 20px;
  padding-left: 50px;
  background: rgba(63, 63, 63, 0.5);
  width: 700px;
}

.title {
  font-size: 40px;
  font-family: "Star Jedi";
  line-height: 1em;
  padding-bottom: 10px;
}

.subtitle {
  font-size: 30px;
  padding-bottom: 20px;
  line-height: 1em;
}

/* Name Text Area */
.top-row,
.bottom-row {
  display: flex;
  justify-content: space-between;
  padding-bottom: 20px;
}

.top-row {
  padding-top: 15px;
}

.top-row input,
.bottom-row input {
  font-family: "Ubuntu", sans-serif;
  color: black;
  font-size: 25px;
  padding-left: 5px;
  border-style: solid;
  border-width: 1px;
  border-color: black;
  outline: none;
  border-radius: 9px;
}

.first-name::-moz-placeholder, .last-name::-moz-placeholder, .maiden-name::-moz-placeholder, .birth-town::-moz-placeholder {
  font-family: "Anakin Mono";
  color: rgba(63, 63, 63, 0.5);
  font-size: 19px;
  padding-left: 5px;
  opacity: 0.9;
}

.first-name:-ms-input-placeholder, .last-name:-ms-input-placeholder, .maiden-name:-ms-input-placeholder, .birth-town:-ms-input-placeholder {
  font-family: "Anakin Mono";
  color: rgba(63, 63, 63, 0.5);
  font-size: 19px;
  padding-left: 5px;
  opacity: 0.9;
}

.first-name::placeholder,
.last-name::placeholder,
.maiden-name::placeholder,
.birth-town::placeholder {
  font-family: "Anakin Mono";
  color: rgba(63, 63, 63, 0.5);
  font-size: 19px;
  padding-left: 5px;
  opacity: 0.9;
}

/* Star Wars Button */
.star-wars-btn {
  border-style: solid;
  border-width: 1px;
  border-color: black;
  background-color: white;
  font-family: "Star Jedi";
  color: black;
  border-radius: 12px;
  margin-bottom: 30px;
  margin-top: 12px;
  font-size: 25px;
}

#star-wars-name,
#star-wars-alliance {
  font-size: 40px;
  padding: 25px;
}

#star-wars-name,
#star-wars-alliance,
#reset {
  display: none;
}

.reset-icon {
  font-size: 50px;
  cursor: pointer;
  padding-bottom: 20px;
}

/* Footer */
.contact-logo {
  padding-right: 12px;
  padding-left: 12px;
  font-size: 30px;
}

.project-footer {
  width: 100%;
  box-sizing: border-box;
  bottom: 0;
  margin-top: 10px;
  text-align: center;
  font-weight: bold;
  background-color: transparent;
  font-family: "Anakin Mono";
  color: white;
  position: fixed;
}
.project-footer a {
  color: white;
}
.project-footer a:visited {
  color: white;
}
.project-footer a:hover {
  color: white;
}
.project-footer a:active {
  color: white;
}

.credits a,
a:visited {
  color: white;
}/*# sourceMappingURL=styles.css.map */