/* SASS Import Files */

@import "../../../../css/_elements.scss";

$images: "../images";

/* Body */
html {
  @include html();
}

body {
  @include body();
  @include body-container();
  background-color: $night;
  background-image: url(#{$images}/star-wars-cave-by-cade-roberts-unsplash.jpg);
  background-size: 100%;
  background-repeat: no-repeat;
  font-family: $anakin;
  color: $light;
  font-weight: 700;
}

/* Git Button */

.projectgit {
  @include projgitbut();
  @include gitbutcol($light, $light);
  font-family: $gittext;
}

.projectgit:hover {
  @include projgithover();
  @include gitbutcol($light, $light);
  font-family: $gittext;
}

/* Links */

a,
a:visited {
  color: $night;
  text-decoration: none;
}

/* Container */

.sw-container {
  @include form-container();
  background: $space-grey;
  width: 700px;
  padding-bottom: 10px;
}

.title {
  font-size: 32px;
  font-family: $starjedi;
  padding-bottom: 10px;
}

.subtitle {
  font-size: 25px;
  padding-bottom: 20px;
}

/* Name Form */

form {
  display: grid;
  grid-template-columns: 200px 1fr;
  grid-gap: 16px;
  padding-left: 100px;
  padding-bottom: 0px;
}

input[type="text"],
select {
  @include borstyle(solid, $silver);
  border-width: 1px;
  width: 80%;
  height: 30px;
  margin: 0;
  border-radius: 4px;
  box-sizing: border-box;
}

label {
  float: left;
  width: 200px;
  padding-right: 25px;
  text-align: right;
  grid-column: 1 / 2;
}

button {
  grid-column: 2 / 3;
}

/* Name Text Label */

.name-text {
  padding-left: 125px;
  text-align: left;
}

/* Name Text Area */

input {
  float: left;
  width: 500px;
  height: 30px;
}

.first-name,
.last-name,
.maiden-name,
.birth-town {
  margin: 0px;
  text-align: center;
  font-size: 30px;
}

/* Star Wars Button */

.star-wars-btn {
  @include borstyle(solid, $night);
  border-width: 1px;
  border-radius: 12px;
  margin-top: 20px;
  font-size: 25px;
  font-family: $starjedi;
  background-color: $light;
}

// Result
#star-wars-name,
#star-wars-alliance {
  margin-top: 5px;
  font-size: 18px;
}

/* Footer */

.contact-logo {
  @include contact-logo();
}

.project-footer {
  @include page-footer();
  @include footcol(transparent, $anakin, $light);
  @include linx($light, $light, $light, $light);
  position: fixed;
}

.credits a,
a:visited {
  color: $light;
}