/* SASS Import Files */

@import "../../../../css/_elements.scss";

$images: "../images";

/* Body */
html {
  @include html();
}

body {
  @include body();
  @include body-container();
  background-color: $night;
  background-image: url(#{$images}/star-wars-cave-by-cade-roberts-unsplash.jpg);
  background-size: 100%;
  background-repeat: no-repeat;
  font-family: $anakin;
  color: $light;
  font-weight: 700;
}

/* Git Button */

.projectgit {
  @include projgitbut();
  @include gitbutcol($light, $light);
  font-family: $gittext;
}

.projectgit:hover {
  @include projgithover();
  @include gitbutcol($light, $light);
}

/* Container */

.sw-container {
  @include padding-allround(0, 50px, 20px, 50px);
  background: $space-grey;
  width: 700px;
}

.title {
  font-size: 40px;
  font-family: $starjedi;
  line-height: 1em;
  padding-bottom: 10px;
}

.subtitle {
  font-size: 30px;
  padding-bottom: 20px;
  line-height: 1em;
}

/* Name Text Area */

.top-row,
.bottom-row {
  @include rows();
  padding-bottom: 20px;
}

.top-row {
  padding-top: 15px;
}

.top-row input,
.bottom-row input {
  @include inputplace($ubuntu, $night, 25px, 5px);
  @include borall(solid, 1px, $night);
  outline: none;
  border-radius: 9px;
}

.first-name::placeholder,
.last-name::placeholder,
.maiden-name::placeholder,
.birth-town::placeholder {
  @include inputplace($anakin, $space-grey, 19px, 5px);
  opacity: 0.9;
}

/* Star Wars Button */

.star-wars-btn {
  @include borall(solid, 1px, $night);
  @include footcol($light, $starjedi, $night);
  border-radius: 12px;
  margin-bottom: 30px;
  margin-top: 12px;
  font-size: 25px;
}

// Result
#star-wars-name,
#star-wars-alliance {
  font-size: 40px;
  padding: 25px;
}

#star-wars-name,
#star-wars-alliance,
#reset {
  display: none;
}

.reset-icon {
  font-size: 50px;
  cursor: pointer;
  padding-bottom: 20px;
}

/* Footer */
.contact-logo {
  @include contact-logo();
}

.project-footer {
  @include page-footer();
  @include footcol(transparent, $anakin, $light);
  @include linx($light, $light, $light, $light);
  position: fixed;
}

.credits a,
a:visited {
  color: $light;
}