/* SASS Import Files */ /* Body */
/* Header */
/* Logos */
/* Gallery */
/* Skills and Hobbies */
/* Footer */
/* Padding Mixins */
/* Margin Mixins */
/* Height/Width */
/* Link */
/* Header */
/* Text */
/* Containers */
/* Glass */
/* Footer */
/* Borders */
/* Google Fonts */
@import url("https://fonts.googleapis.com/css2?family=Ubuntu&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Merriweather+Sans&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Architects+Daughter&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Press+Start+2P&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Boogaloo&display=swap");
/* Imported Fonts */
@import url("https://fonts.googleapis.com/css2?family=Ubuntu&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Merriweather+Sans&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Architects+Daughter&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Press+Start+2P&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Boogaloo&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Ubuntu&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Merriweather+Sans&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Architects+Daughter&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Press+Start+2P&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Boogaloo&display=swap");
@font-face {
  font-family: "HoneyBee Regular";
  src: url("../../assets/fonts/Honey-Bee-Reg/HoneyBee-Regular.otf") format("opentype");
  font-weight: normal;
  font-style: normal;
}
@font-face {
  font-family: "Honey";
  src: url("../../assets/fonts/honey/Honey.ttf") format("truetype");
  font-weight: normal;
  font-style: normal;
}
@font-face {
  font-family: "Summerbee";
  src: url("../../assets/fonts/summerbee-font/Summerbee.ttf") format("truetype");
  font-weight: normal;
  font-style: normal;
}
@font-face {
  font-family: "Ladybug Love Regular";
  src: url("../../../assets/fonts/ladybug-love/ladybug-love-demo.regular.otf") format("opentype");
  font-weight: normal;
  font-style: normal;
}
@font-face {
  font-family: "Star Jedi";
  src: url("../../../assets/fonts/Star-Jedi/Star-Jedi.ttf") format("truetype");
  font-weight: normal;
  font-style: normal;
}
@font-face {
  font-family: "Anakin Mono";
  src: url("../../../assets/fonts/anakin-mono/anakinmono.ttf") format("truetype");
  font-weight: normal;
  font-style: normal;
}
/* Padding Mixins */
/* Margin Mixins */
/* Height/Width */
/* Link */
/* Header */
/* Text */
/* Containers */
/* Glass */
/* Footer */
/* Borders */
/* Button */
.button-link {
  padding: 10px;
  text-decoration: none;
}

/* Github Button */
/* Google Fonts */
/* Imported Fonts */
@font-face {
  font-family: "HoneyBee Regular";
  src: url("../../assets/fonts/Honey-Bee-Reg/HoneyBee-Regular.otf") format("opentype");
  font-weight: normal;
  font-style: normal;
}
@font-face {
  font-family: "Honey";
  src: url("../../assets/fonts/honey/Honey.ttf") format("truetype");
  font-weight: normal;
  font-style: normal;
}
@font-face {
  font-family: "Summerbee";
  src: url("../../assets/fonts/summerbee-font/Summerbee.ttf") format("truetype");
  font-weight: normal;
  font-style: normal;
}
@font-face {
  font-family: "Ladybug Love Regular";
  src: url("../../../assets/fonts/ladybug-love/ladybug-love-demo.regular.otf") format("opentype");
  font-weight: normal;
  font-style: normal;
}
@font-face {
  font-family: "Star Jedi";
  src: url("../../../assets/fonts/Star-Jedi/Star-Jedi.ttf") format("truetype");
  font-weight: normal;
  font-style: normal;
}
@font-face {
  font-family: "Anakin Mono";
  src: url("../../../assets/fonts/anakin-mono/anakinmono.ttf") format("truetype");
  font-weight: normal;
  font-style: normal;
}
/* Google Fonts */
/* Imported Fonts */
@font-face {
  font-family: "HoneyBee Regular";
  src: url("../../assets/fonts/Honey-Bee-Reg/HoneyBee-Regular.otf") format("opentype");
  font-weight: normal;
  font-style: normal;
}
@font-face {
  font-family: "Honey";
  src: url("../../assets/fonts/honey/Honey.ttf") format("truetype");
  font-weight: normal;
  font-style: normal;
}
@font-face {
  font-family: "Summerbee";
  src: url("../../assets/fonts/summerbee-font/Summerbee.ttf") format("truetype");
  font-weight: normal;
  font-style: normal;
}
@font-face {
  font-family: "Ladybug Love Regular";
  src: url("../../../assets/fonts/ladybug-love/ladybug-love-demo.regular.otf") format("opentype");
  font-weight: normal;
  font-style: normal;
}
@font-face {
  font-family: "Star Jedi";
  src: url("../../../assets/fonts/Star-Jedi/Star-Jedi.ttf") format("truetype");
  font-weight: normal;
  font-style: normal;
}
@font-face {
  font-family: "Anakin Mono";
  src: url("../../../assets/fonts/anakin-mono/anakinmono.ttf") format("truetype");
  font-weight: normal;
  font-style: normal;
}
/* Projects Fonts and Colours */
.fa-skill-badge {
  padding-top: 0;
  padding-right: 10px;
  padding-bottom: 0px;
  padding-left: 10px;
  color: #376c77;
  font-size: 60px;
}

.fa-small-skill-badge {
  padding-top: 0;
  padding-right: 1px;
  padding-bottom: 0px;
  padding-left: 1px;
  color: #376c77;
  font-size: 40px;
}

.html-badge {
  color: #f16529;
}

.css-badge {
  color: #2965f1;
}

.sass-badge {
  color: #CD6799;
}

.js-badge {
  color: #f0db4f;
}

/* Body */
html {
  margin: 0 auto;
  padding: 0;
}

body {
  margin: 0 auto;
  min-height: 100vh;
  text-align: center;
  display: flex;
  flex-direction: column;
  align-items: center;
  background-image: url(../images/love-heart-by-jamie-street-unsplash.png);
  background-size: 110%;
  font-family: "Ladybug Love Regular";
  color: white;
  font-weight: 700;
}

/* Git Button */
.projectgit {
  padding-top: 15px;
  padding-right: 15px;
  padding-bottom: 15px;
  padding-left: 15px;
  background-color: #376c77;
  border-radius: 30px;
  text-align: center;
  text-decoration: none;
  font-weight: bold;
  display: inline-block;
  margin-top: 30px;
  margin-bottom: 30px;
  border-style: solid;
  border-width: 2px;
  background-color: transparent;
  font-size: 18px;
  font-family: "Merriweather Sans", sans-serif;
  background-color: rgb(233, 27, 27);
  color: #eaf6f6;
  border-color: #eaf6f6;
}

.projectgit:hover {
  padding-top: 15px;
  padding-right: 15px;
  padding-bottom: 15px;
  padding-left: 15px;
  background-color: #376c77;
  border-radius: 30px;
  text-align: center;
  text-decoration: none;
  font-weight: bold;
  display: inline-block;
  margin-top: 30px;
  margin-bottom: 30px;
  border-style: solid;
  border-width: 2px;
  background-color: #2196f3;
  font-size: 18px;
  font-family: "Merriweather Sans", sans-serif;
  color: white;
  border-color: white;
}

/* Links */
a,
a:visited {
  color: white;
  text-decoration: none;
}

/* Love Container */
.love-container {
  padding-top: 10px;
  padding-bottom: 50px;
  position: absolute;
  top: 25%;
  text-align: center;
  background: rgba(255, 0, 0, 0.5);
  width: 700px;
}

.title {
  font-size: 40px;
}

.subtitle {
  font-size: 30px;
}

/* Form*/
.love-form {
  padding-top: 0px;
  padding-right: 0px;
  padding-bottom: 20px;
  padding-left: 100px;
  display: grid;
  grid-template-columns: 200px 1fr;
  grid-gap: 16px;
}

input[type=text],
select {
  border-style: solid;
  border-width: 1px;
  border-color: #ccc;
  width: 50%;
  height: 20px;
  margin: 0;
  border-radius: 4px;
  box-sizing: border-box;
}

label {
  float: left;
  width: 200px;
  padding-right: 24px;
  grid-column: 1/2;
}

button {
  grid-column: 2/3;
}

/* Name Text Labek */
.name-text {
  padding-left: 125px;
  text-align: left;
}

/* Name Text Area */
input {
  height: 30px;
  width: 500px;
  float: left;
}

.your-name {
  margin: 0px;
  text-align: center;
  font-size: 25px;
}

.crush-name {
  margin: 0px;
  text-align: center;
  font-size: 25px;
}

/* Love Button */
.love-btn {
  margin-top: 12px;
  border-radius: 12px;
  border-style: solid;
  border-width: 1px;
  font-size: 30px;
  background-color: white;
  color: black;
}

#love-score,
#love-comment {
  font-size: 32px;
  margin-top: 5px;
}

/* Footer */
.contact-logo {
  padding-right: 12px;
  padding-left: 12px;
  font-size: 30px;
}

.project-footer {
  width: 100%;
  box-sizing: border-box;
  bottom: 0;
  margin-top: 10px;
  text-align: center;
  font-weight: bold;
  background-color: rgba(255, 0, 0, 0.5);
  font-family: "Ladybug Love Regular";
  color: #eaf6f6;
  position: fixed;
}
.project-footer a {
  color: #eaf6f6;
}
.project-footer a:visited {
  color: #eaf6f6;
}
.project-footer a:hover {
  color: #eaf6f6;
}
.project-footer a:active {
  color: #eaf6f6;
}

.credits a,
a:visited {
  color: #eaf6f6;
}/*# sourceMappingURL=styles.css.map */