//Basic Site Colours
$night: black;
$light: white;


$light-grey: #d3d3d3;
$silver: #ccc;
$dark-grey: #393e46;

$github: #2196f3;
$skyblue: #bdf3ff;
$pastelblue: #6ba0ab;
$darkblue: #376c77;
$indigo: #233067;

$lilac: #c8a2c8;
$lavendar: #a06ab4;
$dark-lavendar: #734f96;

//Skills Badges
$halloween: #f16529; //HTML
$cssblue: #2965f1; //CSS
$wild-orchid: #Cd6799; //SASS
$minion: #f0db4f; //Javascript
$azure: #4b8bbe //Python