//Basic Site Colours
$night: black;
$light: white;
$transparent: transparent;

$light-grey: #d3d3d3;
$silver: #ccc;
$dark-grey: #393e46;

$github: #2196f3;
$medblue: #006699;
$bluefire: #005e88;
$skyblue: #bdf3ff;
$paleblue: #f2f7f8;
$pastelblue: #6ba0ab;
$darkblue: #376c77;
$indigo: #233067;

$fireorange: #fb8b23;

$lilac: #c8a2c8;
$lavendar: #a06ab4;
$darklavendar: #734f96;

$silverglass: rgba($silver, .05);
$lilacglass: rgba($lilac, .05);

//Skills Badges
$halloween: #f16529; //HTML
$cssblue: #2965f1; //CSS
$wildorchid: #Cd6799; //SASS
$minion: #f0db4f; //Javascript
$azure: #4b8bbe //Python