//Basic Site Colours
$night: black;
$light: white;


$light-grey: #d3d3d3;
$silver: #ccc;
$dark-grey: #393e46;

$github: #2196f3;
$skyblue: #bdf3ff;
$pastelblue: #6ba0ab;
$darkblue: #376c77;


//Skills Badges
$halloween: #f16529; //HTML
$cssblue: #2965f1; //CSS
$wild-orchid: #CD6799; //SASS
$minion: #f0db4f; //Javascript