//Skills Badges

.fa-skill-badge {
    @include padding-allround(0, 10px, 0px, 10px);
    color: $darkblue;
    font-size: 60px;
}

.fa-small-skill-badge {
    @include padding-allround(0, 1px, 0px, 1px);
    color: $darkblue;
    font-size: 40px;
}


.html-badge {
    color: $halloween;
}

.css-badge {
    color: $cssblue;
}

.sass-badge {
    color: $wildorchid;
}

.js-badge {
    color: $minion;
}

.python-badge {
    color: $azure;
}