@import "../../css/fonts-colours/imported-fonts.scss";

//Google Fonts

$architect: "Architects Daughter", cursive;
$arial: "Arial", sans-serif;
$gittext: "Merriweather Sans", sans-serif;
$josefin: 'Josefin Sans', sans-serif;
$presstart: "Press Start 2P", cursive;
$raleway: 'Raleway', sans-serif;
$shadowslight: 'Shadows Into Light', cursive;
$ubuntu: "Ubuntu", sans-serif;

//Imported Fonts

$anakin: "Anakin Mono";
$boogaloo: "Boogaloo", cursive;
$charm: "Charm", cursive;
$enchantedland: "Enchanted Land";
$honeybee: "Honey", cursive;
$honeybeereg: "HoneyBee Regular", cursive;
$indieflower: 'Indie Flower', cursive;
$lobster: "Lobster", cursive;
$ladybug: "Ladybug Love Regular";
$love: "Love", sans-serif;
$peacechild: "Peace Child", sans-serif;
$starjedi: "Star Jedi";
$summerbee: "Summerbee", sans-serif;