@import '../../css/fonts-colours/_imported-fonts.scss';

//Imported Fonts

$architect: 'Architects Daughter', cursive;
$anakin: 'Anakin Mono';
$arial: 'Arial', sans-serif;
$boogaloo: 'Boogaloo', cursive;
$charm: 'Charm', cursive;
$enchantedland: 'Enchanted Land';
$gittext: 'Merriweather Sans Regular', sans-serif;
$honeybee: 'Honey', cursive;
$honeybeereg: 'HoneyBee Regular', cursive;
$indieflower: 'Indie Flower', cursive;
$josefinreg: 'Josefin Sans Regular', sans-serif;
$lobster: 'Lobster', cursive;
$ladybug: 'Ladybug Love Regular';
$love: 'Love', sans-serif;
$peacechild: 'Peace Child', sans-serif;
$presstart: 'Press Start 2P', cursive;
$ralewayreg: 'Raleway Regular', sans-serif;
$shadowslight: 'Shadows Into Light', cursive;
$starjedi: 'Star Jedi';
$starjedioutline: 'Star Jedi Outline';
$summerbee: 'Summerbee', sans-serif;
$ubuntureg: 'Ubuntu Regular', sans-serif;