/* Google Fonts */

//Architects Daughter
@import url("https://fonts.googleapis.com/css2?family=Architects+Daughter&display=swap");

//Boogaloo
@import url("https://fonts.googleapis.com/css2?family=Boogaloo&display=swap");

//Josefin Sans
@import url('https://fonts.googleapis.com/css2?family=Josefin+Sans&display=swap');

//Lobster
@import url("https://fonts.googleapis.com/css2?family=Indie+Flower&family=Lobster&display=swap");

//MerryWeather Sans
@import url("https://fonts.googleapis.com/css2?family=Merriweather+Sans&display=swap");

//Press Start 2P
@import url("https://fonts.googleapis.com/css2?family=Press+Start+2P&display=swap");

//Raleway
@import url('https://fonts.googleapis.com/css2?family=Raleway:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

//Shadows Into Light
@import url('https://fonts.googleapis.com/css2?family=Shadows+Into+Light&display=swap');

//Ubuntu Regular 400
@import url("https://fonts.googleapis.com/css2?family=Ubuntu&display=swap");

/* Imported Fonts */

//Anakin Mono (https://www.starwarsfont.com/fonts/anakin_mono/)
@font-face {
  font-family: "Anakin Mono";
  src: url("../../../assets/fonts/Anakin-Mono/Anakin-Mono.ttf") format("truetype");
  font-weight: normal;
  font-style: normal;
}

//Charm (https://www.cufonfonts.com/font/charm)
@font-face {
  font-family: "Charm";
  src: url("../../../assets/fonts/Charm/Charm-Regular.ttf") format("truetype");
  font-weight: normal;
  font-style: normal;
}

//Enchanted Land (https://www.dafont.com/enchanted-land.font)
@font-face {
  font-family: "Enchanted Land";
  src: url("../../assets/fonts/Enchanted-Land/Enchanted-Land.otf") format("opentype");
  font-weight: normal;
  font-style: normal;
}

//Honey (https://www.dafont.com/honey.font)
@font-face {
  font-family: "Honey";
  src: url("../../assets/fonts/Honey/Honey.ttf") format("truetype");
  font-weight: normal;
  font-style: normal;
}

//HoneyBee-Regular (https://fontbundles.net/free-fonts/regular-fonts/honey-bee)
@font-face {
  font-family: "HoneyBee Regular";
  src: url("../../assets/fonts/Honey-Bee-Reg/HoneyBee-Regular.otf") format("opentype");
  font-weight: normal;
  font-style: normal;
}

//Indie Flower (https://www.dafont.com/indie-flower.font)
@font-face {
  font-family: "Indie Flower";
  src: url("../../../assets/fonts/Indie-Flower/IndieFlower.ttf") format("truetype");
  font-weight: normal;
  font-style: normal;
}

//Ladybug Love (https://www.1001fonts.com/ladybug-love-demo-font.html)
@font-face {
  font-family: "Ladybug Love Regular";
  src: url("../../../assets/fonts/Ladybug-Love/ladybug-love-demo.regular.otf") format("opentype");
  font-weight: normal;
  font-style: normal;
}

/* Love Font (https://www.cufonfonts.com/font/love)*/
@font-face {
  font-family: "Love";
  src: url("../../../assets/fonts/Love/Love.woff") format("woff");
  font-weight: normal;
  font-style: normal;
}

/* Peace Child (https://www.1001fonts.com/peacechild-font.html)*/
@font-face {
  font-family: "Peace Child";
  src: url("../../../assets/fonts/Peace-Child/Peace-Child.ttf") format("truetype");
  font-weight: normal;
  font-style: normal;
}

//Star Jedi (https://www.starwarsfont.com/fonts/star_jedi)
@font-face {
  font-family: "Star Jedi";
  src: url("../../../assets/fonts/Star-Jedi/Star-Jedi.ttf") format("truetype");
  font-weight: normal;
  font-style: normal;
}

//Summerbee (https://www.fontspace.com/summerbee-font-f46710)
@font-face {
  font-family: "Summerbee";
  src: url("../../assets/fonts/Summerbee/Summerbee.ttf") format("truetype");
  font-weight: normal;
  font-style: normal;
}