@import '../fonts-colours/_fonts.scss';

/* Projects Fonts and Colours */

//Adventure
$glass: inset 0 0 2000px rgba(255, 255, 255, .5);
$magic: #a00f88;
$fire: #f36b00;
$bluefire: #f33100;
$royalpurple: #4b006e;
$brown: #624a2e;

//Chadwick Boseman Tribute Page
$african-red: #e03c31;
$african-yellow: #ffb81c;
$african-green: #007749;

//Dice Game
$seagreen: #4ecca3;
$shadow: #232931;
$green: #2dc937;
$red: #cc3232;
$yellow: #e7b416;

//Drum Kit
$box-clear: #dbedf3;
$pink: #da0463;

//Love Generator
$heart: rgb(233, 27, 27);
$shinyheart: rgba(255, 0, 0, 0.5);
$lovepink: #f7b3cd;
$offwhite: #eaf6f6;

//Rock Paper Scissors
$light-red: #E2584D;
$selected: rgb(37, 30, 30);

//Simon Generator
$space-blue: #011f3f;
$calamansi: #f7faa1;

//Star Wars Name Generator
$space-grey: rgba(63, 63, 63, 0.5);