@import "../fonts-colours/_fonts.scss";

/* Projects Fonts and Colours */

//Chadwick Boseman Tribute Page
$african-red: #e03c31;
$african-yellow: #ffb81c;
$african-green: #007749;

//Love Generator

$heart: rgb(233, 27, 27);
$shinyheart: rgba(255, 0, 0, 0.5);
$offwhite: #eaf6f6;

//Simon Generator

$space-blue: #011f3f;
$calamansi: #f7faa1;

//Drum Kit

$box-clear: #dbedf3;
$pink: #da0463;