@import "../fonts-colours/_fonts.scss";

/* Projects Fonts and Colours */

//Chadwick Boseman Tribute Page
$african-red: #e03c31;
$african-yellow: #ffb81c;
$african-green: #007749;

//Love Generator
$heart: rgb(233, 27, 27);
$shinyheart: rgba(255, 0, 0, 0.5);
$offwhite: #eaf6f6;

//Simon Generator
$space-blue: #011f3f;
$calamansi: #f7faa1;

//Drum Kit
$box-clear: #dbedf3;
$pink: #da0463;

//Star Wars Name Generator
$space-grey: rgba(63, 63, 63, 0.5);

//Dice Gane
$seagreen: #4ecca3;
$shadow: #232931;



//Rock Paper Scissors
// $selected: rgb(37, 30, 30);

//Adventure
/* $magic: rgb(160, 15, 136);
$fire: rgb(243, 107, 0);
$bluefire: rgb(243, 49, 0); */