/* SASS Import Files */ /* Body */
/* Header */
/* Logos */
/* Gallery */
/* Skills and Hobbies */
/* Footer */
/* Padding Mixins */
/* Margin Mixins */
/* Height/Width */
/* Link */
/* Header */
/* Text */
/* Containers */
/* Glass */
/* Footer */
/* Borders */
/* Google Fonts */
@import url("https://fonts.googleapis.com/css2?family=Architects+Daughter&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Boogaloo&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Indie+Flower&family=Lobster&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Merriweather+Sans&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Press+Start+2P&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Ubuntu&display=swap");
/* Imported Fonts */
@import url("https://fonts.googleapis.com/css2?family=Architects+Daughter&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Boogaloo&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Indie+Flower&family=Lobster&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Merriweather+Sans&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Press+Start+2P&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Ubuntu&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Architects+Daughter&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Boogaloo&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Indie+Flower&family=Lobster&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Merriweather+Sans&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Press+Start+2P&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Ubuntu&display=swap");
@font-face {
  font-family: "Anakin Mono";
  src: url("../../../assets/fonts/Anakin-Mono/Anakin-Mono.ttf") format("truetype");
  font-weight: normal;
  font-style: normal;
}
@font-face {
  font-family: "Charm";
  src: url("../../../assets/fonts/Charm/Charm-Regular.ttf") format("truetype");
  font-weight: normal;
  font-style: normal;
}
@font-face {
  font-family: "Honey";
  src: url("../../assets/fonts/Honey/Honey.ttf") format("truetype");
  font-weight: normal;
  font-style: normal;
}
@font-face {
  font-family: "HoneyBee Regular";
  src: url("../../assets/fonts/Honey-Bee-Reg/HoneyBee-Regular.otf") format("opentype");
  font-weight: normal;
  font-style: normal;
}
@font-face {
  font-family: "Indie Flower";
  src: url("../../../assets/fonts/Indie-Flower/IndieFlower.ttf") format("truetype");
  font-weight: normal;
  font-style: normal;
}
@font-face {
  font-family: "Ladybug Love Regular";
  src: url("../../../assets/fonts/Ladybug-Love/ladybug-love-demo.regular.otf") format("opentype");
  font-weight: normal;
  font-style: normal;
}
/* Love Font (https://www.cufonfonts.com/font/love)*/
@font-face {
  font-family: "Love";
  src: url("../../../assets/fonts/Love/Love.woff") format("woff");
  font-weight: normal;
  font-style: normal;
}
/* Peace Child (https://www.1001fonts.com/peacechild-font.html)*/
@font-face {
  font-family: "Peace Child";
  src: url("../../../assets/fonts/Peace-Child/Peace-Child.ttf") format("truetype");
  font-weight: normal;
  font-style: normal;
}
@font-face {
  font-family: "Star Jedi";
  src: url("../../../assets/fonts/Star-Jedi/Star-Jedi.ttf") format("truetype");
  font-weight: normal;
  font-style: normal;
}
@font-face {
  font-family: "Summerbee";
  src: url("../../assets/fonts/Summerbee/Summerbee.ttf") format("truetype");
  font-weight: normal;
  font-style: normal;
}
/* Padding Mixins */
/* Margin Mixins */
/* Height/Width */
/* Link */
/* Header */
/* Text */
/* Containers */
/* Glass */
/* Footer */
/* Borders */
/* Button */
.button-link {
  padding: 10px;
  text-decoration: none;
}

/* Github Button */
/* Google Fonts */
/* Imported Fonts */
@font-face {
  font-family: "Anakin Mono";
  src: url("../../../assets/fonts/Anakin-Mono/Anakin-Mono.ttf") format("truetype");
  font-weight: normal;
  font-style: normal;
}
@font-face {
  font-family: "Charm";
  src: url("../../../assets/fonts/Charm/Charm-Regular.ttf") format("truetype");
  font-weight: normal;
  font-style: normal;
}
@font-face {
  font-family: "Honey";
  src: url("../../assets/fonts/Honey/Honey.ttf") format("truetype");
  font-weight: normal;
  font-style: normal;
}
@font-face {
  font-family: "HoneyBee Regular";
  src: url("../../assets/fonts/Honey-Bee-Reg/HoneyBee-Regular.otf") format("opentype");
  font-weight: normal;
  font-style: normal;
}
@font-face {
  font-family: "Indie Flower";
  src: url("../../../assets/fonts/Indie-Flower/IndieFlower.ttf") format("truetype");
  font-weight: normal;
  font-style: normal;
}
@font-face {
  font-family: "Ladybug Love Regular";
  src: url("../../../assets/fonts/Ladybug-Love/ladybug-love-demo.regular.otf") format("opentype");
  font-weight: normal;
  font-style: normal;
}
/* Love Font (https://www.cufonfonts.com/font/love)*/
@font-face {
  font-family: "Love";
  src: url("../../../assets/fonts/Love/Love.woff") format("woff");
  font-weight: normal;
  font-style: normal;
}
/* Peace Child (https://www.1001fonts.com/peacechild-font.html)*/
@font-face {
  font-family: "Peace Child";
  src: url("../../../assets/fonts/Peace-Child/Peace-Child.ttf") format("truetype");
  font-weight: normal;
  font-style: normal;
}
@font-face {
  font-family: "Star Jedi";
  src: url("../../../assets/fonts/Star-Jedi/Star-Jedi.ttf") format("truetype");
  font-weight: normal;
  font-style: normal;
}
@font-face {
  font-family: "Summerbee";
  src: url("../../assets/fonts/Summerbee/Summerbee.ttf") format("truetype");
  font-weight: normal;
  font-style: normal;
}
/* Google Fonts */
/* Imported Fonts */
@font-face {
  font-family: "Anakin Mono";
  src: url("../../../assets/fonts/Anakin-Mono/Anakin-Mono.ttf") format("truetype");
  font-weight: normal;
  font-style: normal;
}
@font-face {
  font-family: "Charm";
  src: url("../../../assets/fonts/Charm/Charm-Regular.ttf") format("truetype");
  font-weight: normal;
  font-style: normal;
}
@font-face {
  font-family: "Honey";
  src: url("../../assets/fonts/Honey/Honey.ttf") format("truetype");
  font-weight: normal;
  font-style: normal;
}
@font-face {
  font-family: "HoneyBee Regular";
  src: url("../../assets/fonts/Honey-Bee-Reg/HoneyBee-Regular.otf") format("opentype");
  font-weight: normal;
  font-style: normal;
}
@font-face {
  font-family: "Indie Flower";
  src: url("../../../assets/fonts/Indie-Flower/IndieFlower.ttf") format("truetype");
  font-weight: normal;
  font-style: normal;
}
@font-face {
  font-family: "Ladybug Love Regular";
  src: url("../../../assets/fonts/Ladybug-Love/ladybug-love-demo.regular.otf") format("opentype");
  font-weight: normal;
  font-style: normal;
}
/* Love Font (https://www.cufonfonts.com/font/love)*/
@font-face {
  font-family: "Love";
  src: url("../../../assets/fonts/Love/Love.woff") format("woff");
  font-weight: normal;
  font-style: normal;
}
/* Peace Child (https://www.1001fonts.com/peacechild-font.html)*/
@font-face {
  font-family: "Peace Child";
  src: url("../../../assets/fonts/Peace-Child/Peace-Child.ttf") format("truetype");
  font-weight: normal;
  font-style: normal;
}
@font-face {
  font-family: "Star Jedi";
  src: url("../../../assets/fonts/Star-Jedi/Star-Jedi.ttf") format("truetype");
  font-weight: normal;
  font-style: normal;
}
@font-face {
  font-family: "Summerbee";
  src: url("../../assets/fonts/Summerbee/Summerbee.ttf") format("truetype");
  font-weight: normal;
  font-style: normal;
}
/* Projects Fonts and Colours */
/* $magic: rgb(160, 15, 136);
$fire: rgb(243, 107, 0);
$bluefire: rgb(243, 49, 0); */
.fa-skill-badge {
  padding-top: 0;
  padding-right: 10px;
  padding-bottom: 0px;
  padding-left: 10px;
  color: #376c77;
  font-size: 60px;
}

.fa-small-skill-badge {
  padding-top: 0;
  padding-right: 1px;
  padding-bottom: 0px;
  padding-left: 1px;
  color: #376c77;
  font-size: 40px;
}

.html-badge {
  color: #f16529;
}

.css-badge {
  color: #2965f1;
}

.sass-badge {
  color: #CD6799;
}

.js-badge {
  color: #f0db4f;
}

/* Body */
html {
  margin: 0 auto;
  padding: 0;
}

body {
  margin: 0 auto;
  min-height: 100vh;
  text-align: center;
  font-family: "Arial", sans-serif;
  background-color: #c8a2c8;
}

/* Git Button */
.projectgit {
  padding-top: 15px;
  padding-right: 15px;
  padding-bottom: 15px;
  padding-left: 15px;
  background-color: #376c77;
  border-radius: 30px;
  text-align: center;
  text-decoration: none;
  font-weight: bold;
  display: inline-block;
  margin-top: 30px;
  margin-bottom: 30px;
  border-style: solid;
  border-width: 2px;
  background-color: transparent;
  font-size: 18px;
  color: white;
  border-color: white;
}

.projectgit:hover {
  padding-top: 15px;
  padding-right: 15px;
  padding-bottom: 15px;
  padding-left: 15px;
  background-color: #376c77;
  border-radius: 30px;
  text-align: center;
  text-decoration: none;
  font-weight: bold;
  display: inline-block;
  margin-top: 30px;
  margin-bottom: 30px;
  border-style: solid;
  border-width: 2px;
  background-color: #2196f3;
  font-size: 18px;
  color: white;
  border-color: white;
}

/* Array Converter */
.array-header {
  background-color: #a06ab4;
  padding: 7px;
}

h1 {
  text-align: center;
}

h1,
.area-heading {
  color: white;
  font-weight: bold;
}

p {
  margin-top: 20px;
  margin-bottom: 20px;
  color: white;
  text-align: center;
}

.array-container {
  margin-right: 125px;
  margin-left: 125px;
}

.area-heading,
.instruct {
  text-align: left;
}

textarea {
  border-style: solid;
  border-width: 1px;
  border-color: black;
  padding-left: 5px;
  display: block;
  margin-top: 10px;
}

#array-name,
#input-area,
#output-area {
  background-color: white;
}

#array-name {
  width: 20%;
  height: 18px;
  border-radius: 5px;
}

#input-area,
#output-area {
  border-radius: 10px;
  height: 150px;
  width: 100%;
}

::-moz-placeholder {
  font-family: "Arial", sans-serif;
  font-size: 15px;
}

:-ms-input-placeholder {
  font-family: "Arial", sans-serif;
  font-size: 15px;
}

textarea,
::placeholder {
  font-family: "Arial", sans-serif;
  font-size: 15px;
}

::-moz-placeholder {
  color: black;
  opacity: 0.5;
}

:-ms-input-placeholder {
  color: black;
  opacity: 0.5;
}

::placeholder {
  color: black;
  opacity: 0.5;
}

#input-area::-moz-placeholder, #output-area::-moz-placeholder {
  padding-top: 5px;
}

#input-area:-ms-input-placeholder, #output-area:-ms-input-placeholder {
  padding-top: 5px;
}

#input-area::placeholder,
#output-area::placeholder {
  padding-top: 5px;
}

/* Converter Button */
.array-button,
.clear-button {
  border-style: solid;
  border-width: 1px;
  border-color: black;
  margin-top: 20px;
  margin-right: 20px;
  margin-bottom: 0px;
  margin-left: 0px;
  width: 16%;
  background-color: #a06ab4;
  color: white;
  text-align: center;
  -webkit-text-decoration: bold;
          text-decoration: bold;
  display: inline-block;
  font-size: 16px;
  height: 49px;
  cursor: pointer;
  border-radius: 10px;
}

.array-button:hover {
  background-color: #734f96;
}

#button-container {
  margin-top: 10px;
  margin-right: 0px;
  margin-bottom: 50px;
  margin-left: 0px;
  padding: 0px;
}

/* Footer */
.contact-logo {
  padding-right: 12px;
  padding-left: 12px;
  font-size: 30px;
}

.project-footer {
  width: 100%;
  box-sizing: border-box;
  bottom: 0;
  margin-top: 10px;
  text-align: center;
  font-weight: bold;
  background-color: #a06ab4;
  font-family: "Ubuntu", sans-serif;
  color: white;
}
.project-footer a {
  color: white;
}
.project-footer a:visited {
  color: white;
}
.project-footer a:hover {
  color: white;
}
.project-footer a:active {
  color: white;
}

.credits a,
a:visited {
  color: white;
}/*# sourceMappingURL=styles.css.map */